

/*
Colors used:
Primary Color (White): #FFFFFF;
Secondary Color (Black): #000000;
Tertiary Color (Lobster): #FF603E;
Fourth Colour (Mustard): #F49F1C;
Fifth Colour (Sage): #A8C1B7;
Sixth Colour (Darker Sage) #7EA997;
Seventh Colour (Dark Sage) #54977B;
*/

/* LAYOUT STYLING */

/* HEADER */

header {
  background-color: #A8C1B7;
  text-align: center;
  padding: 20px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  position: fixed;
  width: 100%;
  box-shadow: 0 4px 6px -6px #222;
  }


.smaller-image {
  max-width: 250px;
  width: 100px;
  height: auto;
  padding-right: 5px;
  padding-top: 10px;
}

#heroh1 {
  background-color: #A8C1B7;
  text-align: center;
  padding: 20px 0;
  display: inline-block;
  margin-top: inherit;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  vertical-align: top;
}

header li {
  display: inline;
  padding-left: 20px;
  margin-left: auto;
}

nav {
  width: 100%;
  display: inline-block;
  font-variant: small-caps;
}

/* HEADER - HERO */
.header {
text-align: unset;
}

/* NAV BAR */
#header-hero {
  text-align: center;
}


/* Navigation bar */
.ulno-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

/* Hero section */
#hero {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;

}

#hero {
  text-align: center;
  margin-top: 40px;
}

#container-hero {
  text-align: center;
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.background-white {

}

#hero span{
display: block;
}


div.a {
  text-align: center;
}

.container {
padding: 0 15px;

}


/* BODY */
body {
  font-family: 'Raleway', sans-serif;
}

body {
background-color: #ffffff;
font-family: 'Raleway', sans-serif;
font-size: 18px; /* Sets the font size to 18px */
font-weight: 300; /* Sets the font weight to 300 */
line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
color: #4a4a4a;
}

p {
color: #000000;
}

h4 {
ext-align: left;
}

.logo {
  background-color: #A8C1B7;
  padding: 10px;
  margin: 10px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
  border-bottom: 3px solid #4a4a4a;
  }

.logo {
    max-width: 250px;
    text-align: center;
    }



/* ADD MARGIN AT TOP AND BOTTOM */
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }
#about .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }


  /* BUTTONS */
a {
  color: #7EA997;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #54977B;
  text-decoration: underline;; /* Underlining when hovering over a link */
}

a:visited { /* visited link */
  color: #54977B;
}

a:active { /* selected link */
  color: #54977B;
}

a:hover,
a:focus {
  color: #7EA997;
  text-decoration: underline;
}


/* HEADER FONTS */
h1, h2, h3, h4 {
line-height: 1.4;
}

h1 {
font-size: 2.75em;
font-weight: 700;
font-size: 19px;
}

h2 {
font-size: 2.25em;
font-weight: 700;
font-size: 18px;
}

h3 {
font-size: 2.75em;
font-weight: 700;
font-size: 16px;
}

h4 {
font-size: 1.35em;
font-weight: 400;
}


/* IMAGES */
img {
  width: 100%;
}


/* TEXT ALIGNMENT */
#icon {
  text-align: center;
}

#getintouch {
  text-align: center;
}

#Perennial {
  text-align: left;
}

#Appetite {
  text-align: left;
}

#mywork {
  text-align: center;
}

#copyright {
  text-align: center;
}

#mystory {
  text-align: center;
}

#mystory-p {
  text-align: justify;
}

#about {
  text-align: center;
}

#Title-Appetite {
  text-align: center;
}

#Title-Perennial {
  text-align: center;
}

#casestudy-Perennial {
  text-align: left;
}

#casestudy-Appetite {
  text-align: left;
}

#Research {
  text-align: justify;
}

#Ideation {
  text-align: left;
}

#Ideation-p {
  text-align: justify;
}

#Problem-Goal {
  text-align: left;
}

#Conclusion {
  text-align: left;
}

#StyleGuide {
  text-align: center;
}

#Typography {
  text-align: left;
}

#ColourPalette {
  text-align: left;
}

#hero h1 {
  text-align: center; /* Centers text */
  margin: 0;
  padding: 0.67em 0;
}

#hero h2 {
  text-align: center; /* Centers text */
}

#relevantskills {
text-align: left;
}

.getintouch {
text-align: center; /* Centers text */
}

#footer p {
  text-align: center; /* Centers text */
}


/* FOOTER - SOCIAL MEDIA */

footer {
  background-color: #A8C1B7;
  padding: 10px;
  margin: 10px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
  }

.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}

#ul {
  list-style:none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/* BUTTON STATES */
.button.contact {
  background-color: transparent;
  color: #000000;
  text-transform: supportive;
  border: 2px solid #54977B;
}

.button.contact:hover {
  background-color: #7EA997;
  color: #ffffff;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

a:hover,
a:focus {
  color: #000000;
  text-decoration: underline;
}

a:visited { /* visited link */
  color: #000000;
}
a:active { /* selected link */
  color: #994c30;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #7EA997;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #54977B; /* width of the border, type, color */
  transition: 0.2s opacity;
}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    font-variant: small-caps;
    margin-top: 4px;
  }
}

/* Create two equal columns that floats next to each other */
.col-md-6 {
  width: 50%;
}

[class*="col-"] {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}
